<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EoS</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
 <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
 {% block body %}
 {% endblock %}
<script src="js/scripts.js"></script>
</body>
</html>